---
export interface Props {
  currentPage: 'home' | 'debug';
}

const { currentPage } = Astro.props;
---

<nav>
  <ul>
    <li><strong><a href="/">⚡ SF Legacy Business Registry</a></strong></li>
  </ul>
  <ul>
    <li><a href="/" class={currentPage === 'home' ? 'secondary' : ''}>Registry</a></li>
    <li><a href="/debug" class={currentPage === 'debug' ? 'secondary' : ''}>Debug</a></li>
  </ul>
</nav>